@keyframes slideV {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(10%);
    }
  }

  @keyframes slideH {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(10%);
    }
  }

.top-banner{
    height:30vh;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    background-size: cover;
}

.page-title-container{
    margin: 0;
}

@media Screen and (max-width:767px){
    .top-banner{
        padding:0;
    }
    .page-title-container{
        text-align: center;
        animation: slideV 1s ease-in-out;
    }
}

@media screen and (min-width:768px) {
    .top-banner{
        justify-content: left;
    }
    .page-title-container{
        width:40%;
        animation: slideH 1s ease-in-out;

    }
}
