.about-banner{
    height:60vh;
    
}

#about-img-container{
    background-image: url('../../images/undoukai.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}