.about-banner{
    height:30vh;
}

#about-img-container{
    background-image: url('../../images/undoukai.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

@media Screen and (min-width:992px) {
    @media Screen and (min-width:768px) {
        #about-img-container{
            height: 250px;
            background-position-y: 70%;
        }
    
    }

}

@media Screen and (min-width:768px) {
    #about-img-container{
        height: 300px;
        background-position-y: 70%;
    }

    .about-banner{
        height: 40vh;
    }

}

@media Screen and (max-width:767px) {
    #about-img-container{
        height: 200px;
        background-position-y: 73%;
    }

    .about-banner{
        height:60vh;
        
    }
}

@media Screen and (max-width:576px) {
    #about-img-container{
        height: 150px;
        background-position-y: 73%;
    }

    #about-us{
        overflow: hidden;
    }

}