@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Shippori+Antique&display=swap');

:root{
  --higlight-color: #FEC612; 
}

body{
  font-family: 'Shippori Antique', sans-serif;
}

h1,h2{
  font-family: 'Abhaya Libre', serif;
  font-weight: bold;
}

h1{
    font-weight:800;
}
    
